<p id="notice"><%= notice %></p>

<h1>To do</h1>

<table>
  <thead>
    <tr>
      <th>Vsebina</th>
      <th>Stanje</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @to_do.each do |task| %>
      <tr>
        <td><%= task.content %></td>
        <td><%= task.state %></td>
        <td><%= link_to 'Pokaži', task %></td>
        <td><%= link_to 'Uredi', edit_task_path(task) %></td>
        <td><%= link_to 'Izbriši', task, method: :delete, data: { confirm: 'Ste prepričani?' } %></td>
        <td><%= link_to "Označi kot doing", change_task_path(task, state: "doing"), method: :put %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h1>Doing</h1>

<table>
  <thead>
    <tr>
      <th>Vsebina</th>
      <th>Stanje</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @doing.each do |task| %>
      <tr>
        <td><%= task.content %></td>
        <td><%= task.state %></td>
        <td><%= link_to 'Pokaži', task %></td>
        <td><%= link_to 'Uredi', edit_task_path(task) %></td>
        <td><%= link_to 'Izbriši', task, method: :delete, data: { confirm: 'Ste prepričani?' } %></td>
        <td><%= link_to "Označi kot To do", change_task_path(task, state: "to_do"), method: :put %></td>
        <td><%= link_to "Označi kot Done", change_task_path(task, state: "done"), method: :put %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h1>Doing</h1>

<table>
  <thead>
    <tr>
      <th>Vsebina</th>
      <th>Stanje</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @done.each do |task| %>
      <tr>
        <td><%= task.content %></td>
        <td><%= task.state %></td>
        <td><%= link_to 'Pokaži', task %></td>
        <td><%= link_to 'Uredi', edit_task_path(task) %></td>
        <td><%= link_to 'Izbriši', task, method: :delete, data: { confirm: 'Ste prepričani?' } %></td>
        <td><%= link_to "Označi kot doing", change_task_path(task, state: "doing"), method: :put %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo opravilo', new_task_path %>
